body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- Custom Font Definitions --- */

@font-face {
  font-family: 'Hello Paris';
  src: url('./assets/fonts/HelloParis.ttf') format('truetype');
  /* Ensure the filename matches what you have */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selima';
  src: url('./assets/fonts/Selima.ttf') format('truetype');
  /* Ensure the filename matches what you have */
  font-weight: normal;
  font-style: normal;
}